body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: #da1ada;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.products, .cart {
    border: 1px solid #333;
    padding: 20px;
    width: 40%;
}

.product {
    margin: 10px 0;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
